* {
  color: #bdc1c6;
  fill: #bdc1c6;
  font-family: "Roboto Condensed", sans-serif;
}

span {
  font-family: initial;
}

body {
  overflow: hidden;
  height: 100vh;
  background-color: #202124;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.3vw;
}

.btn-grp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.3vw;
}

.horizontal {
  flex-direction: row;
}

.button {
  border: 2px solid;
  margin: 1vw;
  padding: 1.5vw;
  border-radius: 10px;
  font-size: 1.5vw;
}

#extention {
  background-color: #bdc1c6;
  color: #202124;
}

#logo h3,
#logo h1 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 3px;
}

@media (orientation: portrait) {
  #logo {
    font-size: 5vw;
  }

  .button{
      font-size: 5vw;
  }
}
